{% extends 'base.html' %}
{% block title %}
  MY:Posts
{% endblock %}
{% block content %}
  {% for post in posts %}
    <div class="card my-2">
      <div class="card-header">
        <h4>{{ post.title }}</h4>
        <span class="text-secondary">Created By:
          {{post.author}}</span></p>
    </div>
    <div class="card-body">
      <p class="card-text text-truncate">{{ post.body }}</p>
      <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Continue Reading</a>
    </div>
  </div>
  {% empty %}
  <p>No posts found.</p>
{% endfor %}
{% endblock %}